# Cloudflare Credentials for D1 Database
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_DATABASE_ID=dd9b240e-6a95-41e9-b488-b61f12bc8852
CLOUDFLARE_API_TOKEN=

# Sanity CMS config (Cloudflare Pages compatible)
VITE_SANITY_PROJECT_ID=r0fcgsmf
VITE_SANITY_DATASET=news
VITE_SANITY_API_VERSION=2026-05-26

